<!DOCTYPE html>
<html>
<head>
    <title>API Documentation</title>
</head>
<body>
    <h1>API Documentation</h1>
    <p>This page provides information about the API endpoint for fetching a random phrase.</p>
    <h2>Endpoint</h2>
    <p><strong>GET</strong> <code>/api/random-phrase/</code></p>
    <p>Add <code>/api/random-phrase/</code> to the url to use endpoint</p>
    <h2>Description</h2>
    <p>This endpoint returns a random phrase from the database. If there are no phrases available, it will return an error message.</p>
    <h2>Example Response</h2>
    <pre>
    {
        "text": "The purpose of our lives is to be happy."
    }
    </pre>
</body>
</html>
